html, body {
  background-color: #EDDDD4;
  font-size: 14px;
  font-family: "Open Sans";
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #772E25;
  height: 80px;
}

.header-title {
  font-family: "Suez One";
  font-size: 3.5em;
  color: rgb(238, 238, 238);
}

.gameboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 170px auto;
}

.gameboard-tiles {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  width: 605px;
  border-left: 5px solid #283D3B;
  border-bottom: 5px solid #283D3B;
}

.gameboard-tile {
  border-top: 5px solid #283D3B;
  border-right: 5px solid #283D3B;
  background-color: rgb(252, 252, 252);
  width: 200px;
  height: 200px;
}

.gameboard-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100px;
  background-color: #197278;
  border: 5px solid #283D3B;
  margin: 55px;
  padding: 15px;
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.player-turn {
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px;
}

.new-game-form {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
  filter: blur(0px);
}

.game-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background: #C44536;
  border: 5px solid #772E25;
  border-radius: 5px;
}

.vs-player {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
  background: #C44536;
  border: 5px solid #772E25;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.vs-player-form {
  margin-top: 20px;
  height: 60px;
}

.label-linebreak {
  margin-bottom: 5px;
}

.input-text {
  border: 3px solid #772E25;
  border-radius: 5px;
  height: 40px;
  font-size: 1.1em;
  padding: 5px 10px;
}

.game-type-button {
  background-color: #197278da;
  border: 3px solid #283D3B;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  margin: 20px;
}

.game-type-button:hover {
  background-color: #197278;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
}

.game-button {
  background-color: #197278da;
  border: 3px solid #283D3B;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  width: 135px;
}

.game-button:hover {
  background-color: #197278;
}

#vs-player-confirm-button {
  background-color: #197278da;
  border: 3px solid #283D3B;
  padding: 3px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

#vs-player-confirm-button:hover {
  background-color: #197278;
}

.gameboard-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  color: rgba(44, 44, 221, 0.863);
}

.inactive {
  display: none;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: #772E25;
}